<div class="container w-50%  mt-5 " >


    <div class="row text-center  "  >
      
      
      <div class="col-lg-6 col-md-12 mb-2 mt-5" >
        
        <form action="" class="form-control" style="background-color: rgba(255, 0, 0, 0.774); border-radius: 15px;" >          
          <h1 class="text-center" style="color: white;"  >Sign Up </h1>
          <br>
        <input type="text" placeholder="accno"class="form-control" >
        <br>
        <input type="text" placeholder="username"class="form-control" >
        <br>
        <input type="password" placeholder="Enter Password"class="form-control" >
        <br>
        <input type="password" placeholder="Confirm Password"class="form-control" >
        <br>
        <br>
        <div class="p-2 text-center" > 
        <button class="btn btn-danger  " >Sign Up</button>
      </div>
      </form>
        
  
  
  
  
  
      </div>
  <div class="col-lg-6 col-md-12  mb-2 mt-5 " style="background-size: cover;" >  <img src="https://i.postimg.cc/Qx1NZcyn/images-2.jpg" alt=""  > </div>
      
      
    </div>
  
  </div>