<div>
    <div class="row  ">
        <div class="col-3 w-100%  ">
<div>

 <!-- Button trigger modal -->
<button type="button" class="list-group-item list-group-item-action mt-4 text-center" style=" color: white;  height: 50px; background-color: rgba(255, 0, 0, 0.74); border-color: white; border-radius: 10px;"  data-bs-toggle="modal" data-bs-target="#exampleModal1" >
    <i class="fa-solid fa-user"></i>  View Profile
  </button>

  


  
 <!-- Button trigger modal -->
 <button type="button"      class="list-group-item list-group-item-action mt-4 text-center" style=" color: white;  height: 50px; background-color: rgba(255, 0, 0, 0.74); border-color: white; border-radius: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-sack-dollar"></i>  Balance Enquiry
  </button>

 
  

 <!-- Button trigger modal -->
 <button type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"     class="list-group-item list-group-item-action mt-4 text-center" style=" color: white;  height: 50px; background-color: rgba(255, 0, 0, 0.74); border-color: white; border-radius: 10px;  " >
    <i class="fa-solid fa-money-bill-transfer"></i>  Money Transfer
  </button>


 <!-- Button trigger modal -->
 <button type="button" class="list-group-item list-group-item-action mt-4 text-center" style=" color: white;  height: 50px; background-color: rgba(255, 0, 0, 0.74); border-color: white; border-radius: 10px;" >
    <i class="fa-solid fa-file-invoice"></i> Account Statement
  </button>

    


 <!-- Button trigger modal -->
 <button type="button" class="list-group-item list-group-item-action mt-4 text-center" style=" color: white;  height: 50px; background-color: rgba(255, 0, 0, 0.74); border-color: white; border-radius: 10px;" >
    <i class="fa-solid fa-right-from-bracket"></i>   Log Out
  </button>



   

 <!-- Button trigger modal -->
 <button type="button" class="list-group-item list-group-item-action mt-4 text-center" style=" color: white;  height: 50px; background-color: rgba(255, 0, 0, 0.74); border-color: white; border-radius: 10px;" >
    <i class="fa-solid fa-trash-can"></i>   Delete Account
  </button>








</div>
           

        </div>


<div class="col-9">

<div>
  <h1>{{sdata}}</h1>

    <h2 style="color: rgba(255, 0, 0, 0.74);  " class="d1 text-center" >Enjoy Net Banking With SIB</h2>

    <p class="ms-4" >
        'SIB Net Banking' is the Internet Banking Service of South Indian Bank, 
        which allows our customers to avail the bank’s services through internet.It allows conducting Banking Operations from House, Office or even during travel. 
        'SIB Net Banking' service is available 24 hours & 365 days a year.
    </p>

    <img class="d2" src="https://i.postimg.cc/SR65pyFx/download-2.jpg" alt="">





</div>



</div>


    </div>
</div>




  
  <!-- Modal balance enquiry -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:  rgba(255, 0, 0, 0.774);">Balance Enquiry</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color:  rgba(255, 0, 0, 0.774);">
          Hi  <strong  style="color: brown;" > Name</strong> 
          <br>
<br>
<img class="d3" src="https://i.postimg.cc/9QvgVTk1/images-4.jpg" alt="">
<br><br>
<h5>The Current Available Balance in Account No <strong style="color: brown;" >1234</strong> is <strong style="color: brown;"  >Rs-00000</strong> Only</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: brown;" >Close</button>
          
        </div>
      </div>
    </div>
  </div>


<!-- money transfer off canvas -->
 
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header" style="background-color: rgba(255, 0, 0, 0.774);">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"  style="color: white;" >Money Transfer</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <img class="d4" src="https://i.postimg.cc/C5Rq4FT1/images-5.jpg" alt="">
      </div>
      <br><br>
      <div class="mb-3">
        <input type="text" class="form-control  "  style="border-color: red;"  id="exampleFormControlInput1" placeholder="Recipent Account Number">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control  "  style="border-color: red;"  id="exampleFormControlInput1" placeholder="Amount to Transfer">

      </div>

<input type="password" id="inputPassword5" class="form-control" placeholder="Password"   style="border-color: red;"  aria-describedby="passwordHelpBlock">
<br><br>
<div class="d-grid gap-2">
  <button class="btn btn-danger"  style="color: white; background-color: rgba(255, 0, 0, 0.774);" type="button">Transfer</button>
</div>
<br>
<br><br>


  

    </div>
  </div>




<!-- Modal for view profile-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <h1  style="color: rgba(255, 0, 0, 0.774);" class="text-center" >Profile Details</h1>
      <img  class="g" src="https://i.postimg.cc/DfLkfgWT/download-1.png" alt="">
      <h5  style="color: rgba(255, 0, 0, 0.774);" >Username : <strong>Name</strong>   </h5>
      <h5  style="color: rgba(255, 0, 0, 0.774);"  >Account Number: <strong>00000</strong> </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: brown;" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>